
body {
  font-family: 'clearsans', sans-serif;
  background: #F5F6F7;
}


.card {
  /*box-shadow: 0 0 20px #858585;*/
}

.card-header {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: .5rem !important;
  text-transform: uppercase;
}

.card-body {
  padding: .5rem !important;
}

.modal-title {
  font-size: 16px;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
}

.btn-tiny {
  padding: .05rem .25rem;
  font-size: .675rem;
  line-height: 1.5;
  border-radius: .2rem;

}

table {
  background-color: white;
}


.table-row-options {
  width: 80px;
  text-align: center;
}


.field-age {
  width: 80px !important;
}


/*
BOOTSTRAP MODAL FULLSCREEN OPTION
*/


.content-description {
  .image img{
    max-width: 100%;
  }

}


