* {
  transition: 0.1s;
}

footer a:hover {
  text-decoration: underline;
}

pre {
  font-family: "Sen", sans-serif;
  margin-bottom: 0;
  font-size: inherit;
  white-space: pre-line;
}

.card {
  /*box-shadow: 0 0 20px #858585;*/
}

.card-header {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem !important;
  text-transform: uppercase;
}

.card-body {
  padding: 0.5rem !important;
}

.modal-title {
  font-size: 16px;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
}

.btn-tiny {
  padding: 0.05rem 0.25rem;
  font-size: 0.675rem;
  line-height: 1rem;
  border-radius: 0.2rem;
}

table {
  background-color: white;
}

.table thead tr {
  background-color: #ddd;
}

.table-row-options {
  width: 80px;
  text-align: center;
}

.field-age {
  width: 80px !important;
}

.dropdown-item {
  font-size: 1em !important;
}

.section .section__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.gray-bg {
  background-color: #e7e7e7;
}

.daterangepicker {
  font-family: "Sen", sans-serif;
}

.btn-link {
  cursor: pointer;
}

/*
BOOTSTRAP MODAL FULLSCREEN OPTION
*/
.content-description .image img {
  max-width: 100%;
}

select {
  font-family: "Sen", sans-serif;
}

.dropdown-menu {
  z-index: 2000;
}

.icon-24 {
  height: 24px;
}

.icon-16 {
  height: 16px;
}

.hover-group {
  top: 0;
  right: 5px;
  background-color: #FFFFFF;
}

.login-logo {
  width: 100px;
}
