//@font-face {
//  font-family: 'RecursiveWeb';
//  src: url('fonts/recursive_52.woff2') format('woff2');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'RecursiveWeb';
//  src: url('fonts/recursive_52.woff2') format('woff2');
//  font-weight: bold;
//  font-style: normal;
//}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "libs/toastr";
@import "libs/datatables.css";
@import "libs/daterangepicker.css";


.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}


.needs-validation {
}

.datatable {

}

.datatable_simple {

}

.required {
  color: #c23616;
}

.card {
  box-shadow: 0 0 10px #ddd;
}

.card-header {
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}